
@media (min-width: 1536px ) {

  body{
    height: 100px;
  }

  .aboutus p {
    font-size: 18px;
    border: 1px solid yellow;
    width: 500px;
  }

  .aboutus{
    display: flex;
    flex-direction: column;
  }

}
