

@media (min-width: 1536px ) {

  .aboutus {
    position: relative;
    top: 180px;
   }

  .aboutp{
    margin: 0 auto;
    font-size: 18px;
    height: 600px;
    width: 1000px;
    color: white;
    line-height:46px;
  }

  .aboutus{
    overflow-x: hidden;
    
    } 

 .aboutus H2 {
   color: white; 
   margin-left: 800px;
 }
}
